[Desktop Entry]
Type=Application
Version=1.0
Name=SuperTux Wii
Name[en]=SuperTux Wii
Name[de]=SuperTux Wii
Name[cs]=SuperTux Wii
GenericName=A Platform Game
GenericName[en]=A Platform Game
GenericName[de]=Ein Jump&Run Spiel
GenericName[cs]=Plošinová hra
Comment=A Super Mario inspired penguin platform game
Comment[en]=A Super Mario inspired penguin platform game
Comment[de]=Ein von Super Mario inspiriertes Pinguin Jump&Run Spiel
Comment[cs]=Plošinovka inspirovaná SuperMariem s tučňákem Tuxem v hlavní roli
Icon=supertux-wii
Exec=supertux-wii
Terminal=false
StartupNotify=false
Categories=Game;ArcadeGame;
